body {
   
    background  : #ffffff;
    }


/* --------------------
 * Page Wrap
 * -------------------*/


#wrap {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow : -10px -10px 30px rgba(0, 0, 0, 0.23);
    }


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #wrap { width:67%; }
      
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #wrap { width:100%; }
    
}

/* Iphone? */
@media screen and (max-width: 483px) {
  #wrap { width:100%; }
  
}

/* --------------------
 * Content Wrap
 * -------------------*/

 #content {

    
 }

.h1content {

  text-align: center;

}

/* --------------------
 * Navigation
 * -------------------*/


nav {

width: 100%;
margin: 0 auto;
    margin-top: 10px;
    box-shadow : -10px -10px 30px rgba(0, 0, 0, 0.23);

}

ul.navstyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navstyle {
    float: left;
  }
  
  li.navstyle a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.navstyle a:hover {
    background-color: #111;
  }

  .active {
    background-color: #111;
  }

  /* Tablet Landscape */
@media screen and (max-width: 1060px) {
    nav { width:100%; }
      
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    nav { width:100%; }
    
}