body {
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100vw;
   height: 100vh;
   background-image: url("sun.gif");
   background-size: 100vw 100vh;
    }


/* --------------------
 * Navigation
 * -------------------*/


 nav {

  width: 1000px;
  position: relative;
  margin: 0 auto;
      box-shadow : -10px -10px 30px rgba(0, 0, 0, 0.23);
  
  }
  
  ul.navstyle {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li.navstyle {
      float: left;
    }
    
    li.navstyle a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li.navstyle a:hover {
      background-color: #111;
    }
  
    .active {
      background-color: #111;
    }
  
    /* Tablet Landscape */
  @media screen and (max-width: 1060px) {
      nav { width:67%; }
        
  }
  /* Tabled Portrait */
  @media screen and (max-width: 768px) {
      nav { width:100%; }
      
  }



/* --------------------
 * Page Wrap
 * -------------------*/

#wrap {
    
    position: relative;
    margin: -21px auto;
    background: rgba(255,255,255, 0.43);
    width: 1000px;
    box-shadow : -10px -10px 30px rgba(0, 0, 0, 0.23);
    }


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #wrap { width:67%; }
      
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #wrap { width:100%; }
    
}

/* --------------------
 * Content Wrap
 * -------------------*/

 #content {

    
 }

.h1content {

  text-align: center;

}

/* --------------------
 * Iframe Scheme
 * -------------------*/


 



/* 
h1, h2, p

{   
    font-family: 'Kufam', cursive;
    text-align: center;
} */

h2, p {  

  text-align: center

} 
