

.clear{
    width : 30px;
    height: 30px;
    padding-left:580px;
    
}
.clear i{
    font-size: 30px;
    color: #111;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    margin: 0 auto;
    margin-top: 10px;
    color: #111;
    font-size: 25px;
    font-family: 'Kufam', cursive;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}

/* ------------ todo ------------ */
.todo{
    width:800px;
    height: 500px;
    max-height:650px;
    background-color: transparent;
    overflow: auto;
    margin: 0 auto;
    margin-top: 10px;
}
.todo::-webkit-scrollbar { 
    display: none; 
}
.todo ul{
    padding:0;
    margin:0;
}
.item{
    width:800px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: transparent;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 620px;
    height:40px;
    background-color: transparent;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 0 auto;
    margin-top: 10px;
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    
    position: absolute;
    left: 50px;
    height: 35px;
    width: 520px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.h1content
{
    text-transform: capitalize;
    text-align: center;
}


#imageBg
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url("sun.gif");
    background-size: 100vw 100vh;
    
}























